{% import "partials/nav.njk" as nav %}
{% set activeId = navActive | default('home') %}
<div class="site-nav-bar">
  <div class="site-nav">
    <a href="index.html" class="site-nav__brand">
      <img src="./public/images/new_cover.png" alt="World of Tethys crest" class="site-nav__logo" loading="lazy">
      <span class="site-nav__wordmark">World of <span>Tethys</span></span>
    </a>
    {{ nav.render(activeId, none, 'site-nav__links', true) }}
  </div>
</div>
